/* general */
body {
  font-family: 'Montserrat', sans-serif;
}

.color_white {
  color: #fff;
}

.bg_white {
  background-color: #fff;
}

.color_primary {
  color: #2D3E4F;
}

.bg_primary {
  background-color: #2D3E4F;
}
/* intestazione */
header {
  background-color: #2E3F4F;
  line-height: 100px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

.logo_title {
  font-weight: bold;
  font-size: 28px;
  vertical-align: middle;
}

nav ul li {
  float: right;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 40px;
}

.main_nav a:hover {
  color: #1abc9b;
  text-decoration: none;
}

.btn_mobile{
  float: right;
  line-height: normal;
  padding: 10px 15px;
  text-transform: uppercase;
  background-color: #1abc9b;

}
/* /intestazione */

/* jumbotron */
.ag_big {
  background-color: #1abc9b;
  padding-top: 100px;
}

.ag_container {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
}
.ag_container h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 40px 0;
}
.avatar {
  height: 240px;
  margin-top: 50px;
}

.divider i {
 display: inline-block;
 margin: 0 16px;
 vertical-align: middle;
 font-size: 32px;
}

.divider .divider_line {
  display: inline-block;
  width: 20%;
  height: 4px;
  vertical-align: middle;
  border-radius: 20px;
}

.ag_container p {
  font-size: 21px;
  font-weight: 500;
  margin-top: 30px;
}
/* /jumbotron */

/* portfolio */
.portfolio_title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.tile {
  margin-top: 25px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.tile_img {
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background-color: rgba(26, 188, 156, 0.9);
  z-index: 1;
}

.tile:hover .overlay{
  visibility: visible;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% );
  color: #fff;
  font-size: 80px;
}

/* /portfolio */

/* contact me */
.form {
  text-align: left;
}
/* /contact me */

/* piè di pagina */
footer {
  background-color: #2E3F4F;
  color: #fff;
  height: 300px;
  position: relative;
}

.ag_small {
  background-color: #1A262F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* /piè di pagina */
