/* general */
body {
  font-family: 'Montserrat', sans-serif;
}

/* intestazione */
header {
  background-color: #2E3F4F;
}

header a {
  height: 100px;
  text-decoration: none;
}

header li {
  list-style: none;
  display: inline-block;
  height: 100px;
  float: right;
}
/* /intestazione */

/* jumbotron */
.ag_big {
  background-color: #1abc9b;
}

.ag_container {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
}

.ag_container hr {
  width: 50%;
  color: #fff;
}
/* /jumbotron */

/* portfolio */
.portfolio_title {
  text-align: center;
  margin-top: 50px;
}

.tile {
  margin-top: 20px;
  text-align: center;
}
/* /portfolio */

/* contact me */
.form {
  text-align: left;
}
/* /contact me */

/* piè di pagina */
footer {
  background-color: #2E3F4F;
  color: #fff;
  height: 300px;
  position: relative;
}

.ag_small {
  background-color: #1A262F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* /piè di pagina */
