/* intestazione */
header {
  background-color: #2E3F4F;
}

header a {
  height: 100px;
  text-decoration: none;
}

header li {
  list-style: none;
  display: inline-block;
  height: 100px;
  float: right;
}
/* /intestazione */

/* jumbotron */
.ag_jumbotron {
  background-color: #1abc9b;
  text-align: center;
}

.ag_container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ag_container hr {
  width: 50%;
  color: #fff;
}
/* /jumbotron */

/* portfolio */
.portfolio_title {
  text-align: center;
  margin-top: 50px;
}

.tile {
  margin-top: 20px;
  text-align: center;
}
