/* general */
body {
  font-family: 'Montserrat', sans-serif;
}

.color_white {
  color: #fff;
}

.bg_white {
  background-color: #fff;
}
/* intestazione */
header {
  background-color: #2E3F4F;
  line-height: 100px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

.logo_title {
  font-weight: bold;
  font-size: 28px;
  vertical-align: middle;
}

nav ul li {
  float: right;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 40px;
}

.main_nav a:hover {
  color: #1abc9b;
  text-decoration: none;
}

/* /intestazione */

/* jumbotron */
.ag_big {
  background-color: #1abc9b;
  padding-top: 100px;
}

.ag_container {
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  margin: auto;
}
.ag_container h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin: 40px 0;
}
.avatar {
  height: 240px;
  margin-top: 50px;
}

.divider i {
 display: inline-block;
 margin: 0 16px;
 vertical-align: middle;
 font-size: 32px;
}

.divider .divider_line {
  display: inline-block;
  width: 20%;
  height: 4px;
  vertical-align: middle;
  border-radius: 20px;
}

.ag_container p {
  font-size: 21px;
  font-weight: 500;
  margin-top: 30px;
}
/* /jumbotron */

/* portfolio */
.portfolio_title {
  text-align: center;
  margin-top: 50px;
}

.tile {
  margin-top: 20px;
  text-align: center;
}
/* /portfolio */

/* contact me */
.form {
  text-align: left;
}
/* /contact me */

/* piè di pagina */
footer {
  background-color: #2E3F4F;
  color: #fff;
  height: 300px;
  position: relative;
}

.ag_small {
  background-color: #1A262F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
/* /piè di pagina */
